{%extends 'main/layout.html'%}
{%load static%}
{% block title %}Добавление произведения{% endblock %}

{% block content %}
    <div class='container'>
        <div class="text_block">
            <div class="centring_block">
                <form method="post">
                    {% csrf_token %}
                    {{ form_artist.artist_name }} 
                    {{ form_accord.song_title }}
                    {{ form_accord.song_text }}
                    {{ form_accord.сhords_used }}
                    {{ form_accord.link_to_the_video }}
                    <span>{{ error }}</span>
                    <button type="reset" class="btn btn-warning">Очистить</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}
