{%extends 'main/layout.html'%}
{%load static%}
{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class='container'>
        {% if songs %}
            {% for el in songs %}
                <div class="song_element">
                    <p>
                        <a>{{ item_artist.artist_name }}</a> - <a href="{% url 'song' item_artist.id el.id %}">{{ el.song_title }}</a>
                    </p>
                </div>
            {% endfor %}
            {% else %}
                <p>Нет записей</p>
        {% endif %}
    </div>    
{% endblock %}