{%extends 'main/layout.html'%}
{%load static%}
{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class='container'>
        {% if all_artist %}
            {% for el in all_artist %}
                <div class="song_element">
                    <p>
                        <a href="{% url 'all_songs_artist' el.url_name %}">{{ el.artist_name }}</a>
                    </p>
                </div>
            {% endfor %}
            {% else %}
                <p>Нет записей</p>
        {% endif %}
    </div>    
{% endblock %}