{%extends 'main/layout.html'%}
{%load static%}
{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class='container'>
        {% if song %}
            {% for el in song %}
                <div class="alert alert-warning">
                    <p>
                        <span>{{ el.artist }}</span> - <span>{{ el.song_title }}</span>
                    </p>
                    <a href="{% url 'song' el.id %}" class="btn btn-warning">Перейти к содержанию</a>
                </div>
            {% endfor %}
            {% else %}
                <p>У вас нет записей</p>
        {% endif %}
    </div>    
{% endblock %}