{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css"></link>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"></link>
    <link rel="shortcut icon" href="{% static 'main/img/icon.png' %}" type="image/png">
    <title>Accord</title>
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="Accord"> 
        <span class="logo">Accord</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href=""><li><i class="fas fa-id-card"></i> Исполнители</li></a>
            <a href=""><li><i class="fas fa-newspaper"></i> Все песни</li></a>
            <a href=""><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить песню</button></li></a>
        </ul>
    </aside>
    <main>
        <div class="features">
            <h1>ДЖАНГО </h1>
            <h3>Весной Пригретая</h3>
        </div>
        <div class="text_block">
            <pre>
                Вступление: 
                Am Dm F E

                Am                  Dm
                Сонно по домам, ночь по улицам, 
                F                           E
                Все, что было – снова сбудется… 
                Обожги меня – не задетая, 
                В лунный свет одетая, 

                Am              E
                Весной пригретая, 
                F                E  
                Весной пригретая… 

                    Am      Dm
                Опять вокруг да около 
                    Am              E     
                По крышам греются облака… 
                        Am     Dm
                И звезды жгут за окнами – 
                Am          E      Am
                И ты люби меня просто так! 

                Завтра будем мы не замечены 
                Утренним бродягой вечным… 
                Кто любовь дарил – тех нельзя будить! 
                И все, что нам хотелось – 
                Просто быть!

                Am                   Dm
                Сколько теплых дней 
                F                  E
                Все летаю где-то я
                Am                Dm
                Снова – не к тебе,  
                F                  E   Am
                В лунный свет одетая… 

                Опять вокруг да около
                По крышам греются облака…
                И звезды жгут за окнами –
                И ты люби меня просто так!
                И ты люби меня – просто так…
            </pre>
        </div>
        
        
            
        </div>
    </main>
    
</body>
</html>