body {
    background: #164f62;
}

aside {
    float:left;
    background: #223347;
    width: 20%;
    height:100vh;
    color: #fff;
    border-right: 5px solid #6378ab;
    position:fixed;
    
}

aside img {
    width: 65%;
    float: left;
}

aside .logo {
    font-size: calc(10px + 30 * ((100vw - 320px) / (1200 - 320)));
    margin-left: 5%;
    font-weight: bold;
    position: relative;
    top: 0px;
}

aside .menu {
    font-size: calc(6px + 12 * ((100vw - 320px) / (1200 - 320)));
    margin-left: 5%;
    margin-top: 5%;
}

aside .menu p button {
    font-size: calc(6px + 12 * ((100vw - 320px) / (1200 - 320)));
    padding: 5px;
}

aside p:hover {
    color: #ed5959;
    text-decoration: none;
    transform: scale(1.05);
    display: block;
    transition: transform .6s ease;
}

main {
    padding-bottom: 15px;
    color: black;
    text-align: center;
    float: right;
    width: 80%;
}

h1 {font-size: calc(12px + 20 * ((100vw - 320px) / (1200 - 320)));}

h3 {font-size: calc(8px + 11 * ((100vw - 320px) / (1200 - 320)));}

pre {
    margin: 0px;
}

.text_block {
    margin: 0px auto;
    width: 80%;
    background: cornsilk;
    border-radius: 15px;
}

.centring_block {
    margin: 15px 0px;
    display: inline-block;
    font-size: calc(8px + 10 * ((100vw - 320px) / (1200 - 320)));
    text-align: left;
    }

.yt_video {
    padding-top: 2.5%;
    margin: 0px auto;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 5px;
}

@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width:767px){
    .container{
        max-width: none;
    }
}